
params {

    // Input options
    peptides                             = 'data/results_redun_test/peptides.txt'
    hla_alleles                          = '../optivax/scoring/MHC1_allele_mary_cleaned.txt'
    netmhcpan_cmd                        = 'netMHCpan'
    chunk_size                           = 500
    mhc1                                 = true
    outdir                               = 'data/results_nf'

    // TODO: Add resource options

}